#all {
	
  background-color: gray;
  min-height: 1000px;
  width: 960px;
  margin: 0px auto 0px auto;
	
}


div.welcome {
    background-color: rgb(130,36,51);
    text-align: center;
	border-top: 5px solid black;
	border-bottom: 5px solid black;
}

h1.title {
    text-align: center;
	padding: 10px;
	margin: 0px;
}

#courseDropDown {
	
	width: 120px;
}
#rooms{
	width: 120px;
	
}
#numbers{
	width: 120px;
	
}
img.logo {
    float: left;
}

#mySelect{
	
	padding: 20px;
	margin-left: 10px;
	margin-top: 40px;
}

th, td, tr {
    padding: 30px;
    border: 1px solid black;
}

#registerBox {
    text-align: center;
    padding: 20px;
}
