@CHARSET "ISO-8859-1";

body {
	background-color: #bfceff;
}

#all {
	color: black
}

div.welcome {
	color: white;
	background-color: rgb(0,75,133);
}

.link {
	color: white;
}

table {
	border: 1px solid rgb(130,36,51);
}

th, td{	
	border: 1px solid black;
	border-color: rgb(130,36,51);
}
#full{
	width: 250px;
}#ful{
	width: 250px;
}
#fll{
	width: 250px;
}
.topRow {
	background-color: rgb(0,75,133);
	color: white;
}