<!DOCTYPE html>
<html>
<head>
<link type = "text/css" rel = "stylesheet" href= "../courseStyles/courses.css"/>
<link type = "text/css" rel = "stylesheet" href= "stJohnsCoursesStyle.css"/>
<link type = "text/css" rel = "stylesheet" href= "../courseStyles/homeStyle.css">
<link type = "text/css" rel = "stylesheet" href= "../courseStyles/coursesDesktop.css" media = "screen and (min-width: 1301px)"/>
<link type = "text/css" rel = "stylesheet" href= "../courseStyles/coursesTablet.css" media = "screen and (min-width: 1001px) and (max-width: 1300px)"/>
<link type = "text/css" rel = "stylesheet" href= "../courseStyles/coursesMobile.css" media = "screen and (max-width: 1000px)">
<script src = "../previousCourseFunctions.js"></script>
<meta charset="ISO-8859-1">
<title> {{ title }} </title>
</head>
<body>
	<div id = "all">
		<div class= "welcome">
 			<div id="imgdiv">
 				<img id = "img" src =  "../images/towersmall.jpg">
 			</div>
 			<a href="grenfell.html" class= "link">St. John's Campus</a>
 		</div>
 			<div id = navBar>
					<a href = "../index.html">Main</a>
					<a href = "stJohnsCourses.html">Campus</a>
					<a href = "../student.html">Student</a>
					<a href = "previousCourses.html">Previous Courses</a>
					<a href = "../DirectionPage.html">Directions</a>
	    </div>
 		<h2 id = "catalogueTitle"> Previous Courses </h2>
		<div id= "coursetable">
			<table id = "cross">
	 			<tr class = "topRow">
	   				<th>Course Name</th>
	   				<th> Course Number </th>
	   				<th> Class Rooms </th>
	   				<th> Time </th>
	 			</tr>
	 		</table>
    	</div>
    </div>
  
</body>
</html>