@CHARSET "ISO-8859-1";

body {
	background-color: #c0c0be;
}

#all {
	color: black;
}

div.welcome {
	color:white;
	background-color:rgb(130,36,51);
}

#imgdiv {
	width:40%;
}

.link {
	color: white;
}

table {
	border: 1px solid rgb(130,36,51);
}

th, td{	
	border: 1px solid black;
	border-color: rgb(130,36,51);
}
#full{
	width: 250px;
}#ful{
	width: 250px;
}
#fll{
	width: 250px;
}



.topRow {
	background-color: rgb(130,36,51);
	color: white;
}