@CHARSET "ISO-8859-1";

body {
	background-color: #dfcece;
}

#all {
	color: white;
}

.welcome {
	color: black;
	background-color:rgb(244,244,244);
}

.link {
	color: black;
}
#full{
	width: 250px;
}#ful{
	width: 250px;
}
#fll{
	width: 250px;
}
table {
	border: 1px solid rgb(130,36,51);
}

th, td{	
	border: 1px solid black;
	border-color: rgb(130,36,51);
}

.topRow {
	border-color: rgb(244,244,244);
	background-color: rgb(244,244,244);
	color: black;
}

.removeButton {
	margin: auto;
	width: 300%;
}