@CHARSET "ISO-8859-1";

body {
	font-family: "times new roman", verdana;
	font-size: 2.5em;
}

#all {
	min-height: 1800px;
	min-width: 730px;
	background-color: #ffdcb9;
}

.welcome {
	border: 5px solid black;
	border-radius: 3px;
}

#imgdiv {
	width: 20%;
}

#img {
	width: 140px;
}

.link {
	margin-top: 30px;
	font-size: 2.0em;
	width: 60%;
}

#catalogueTitle {
	color: black;
	margin: 30px 0% 10px 0%;
	text-align: center;
}

table {
	color: black;
	width: 100%
}

th, td{	
	padding: 5%;
}