@CHARSET "ISO-8859-1";

body {
	font-family: "times new roman", verdana;
	font-size: 2em;
}

#all {
	min-height: 1500px;
	background-color: #e6ffea;
}

.welcome {
	border: 5px solid black;
	border-radius: 3px;
}

#imgdiv {
	width: 20%;
}

#img {
	width: 113px;
}

.link {
	margin-top: 30px;
	font-size: 1.7em;
	width: 60%;
}

#catalogueTitle {
	color: black;
	margin: 30px 0% 10px 0%;
	text-align: center;
}

table {
	color: black;
	width: 60%;
}

th, td{	
	padding: 10%;
}