@CHARSET "ISO-8859-1";

html {
	height: 100%;
}

body{
	color:white;
	font-family: "verdana", Times;
	height: 100%;
	margin:0px;
}

#all {
	height: 100%	
}

div.welcome {
	width: 100%;
 	display: inline-block;
}

#imgdiv {
	display:inline-block;
}

#coursetable{
	text-align: center;
}

table{
    margin: auto;
    margin-bottom: 20px;
}

.link{
	text-decoration: none;
	display: inline-block;
	vertical-align:top;
	text-align: center;
	font-size: 30px;
	width: 20%;
}

.removeButton {
	width: 100%;
}

input {
	text-align: center;
	width: 20%;
	height: 60px;
}

select{
	width: 20%;
	height: 60px;
}

th,td {
	padding: 1px;
}

.topRow{
	background-color: rgb(130,36,51);
	color: white;
}

#registerTitle {
	text-align: center;
	color: black;
}

#register {
	text-align: center;
}

#addCourseTitle {
	text-align: center;
	color: black;
}

#addCourse {
	text-align: center;
}

#previousCourses {
	text-align: center;
}

#previousCoursesLink {
	text-decoration: none;
}
