@CHARSET "ISO-8859-1";

body {
	font-family: "times new roman", verdana;
	font-size: 1.1em;
}

#whole {
	background-color: #e8aab4;
	min-height: 1300px;
	overflow:hidden;
}

#headerContainer {
	background-color:rgb(130,36,51);
	color: white;
	border: 5px solid black;
	border-radius: 3px;
}

#header {
	max-width: 1000px; 
	margin: auto;
	color: white;
	width: 100%;
}

#logoContainer {
	width: 72%;
	margin-left: 3%;
}

#headerLogo {
	margin: 0px 80% 20px 0%;
	width: 110px;
}

#navBar a {
	font-size: 1.4em;
}

#navBar a:hover {
	background-color: #8cc6ff;
}

#events {
	display: inline-block;
	background-color: #b3c4ff;
	width: 35%;
	min-height:100%;
	margin: 3% 5% 0% 5%;
	vertical-align: top;
	border: 5px solid #2f5eff;
}

select {
	font-size: 1.6em;
}

input[type="text"] {
	font-size: 1.6em;
}

input[type="submit"] {
	font-size: 1.6em;
}

#campuses {
	display: inline-block;
	width: 50%;
	text-align: center;
	font-size: 1.2em;
}

.campusRow {
	background-color: #d9c4c5;
	border: 5px solid #623e3f;
	margin-top: 5%;
	height: 180px;
}

.campusLinkLeft {
	width: 50%;
	vertical-align: top;
	margin: 79px 0px 0px 0px;
}

.campusLinkRight {
	width: 50%;
	vertical-align: top;
	margin-top: 79px;
}

.imgContainer {
	display: inline-block;
	width: 45%;
}

.campusRowImg {
	width: 180px;
}

#footer {
	padding: 5px 0px 5px 0px;
}
