@CHARSET "ISO-8859-1";

body {
	font-family: "times new roman", verdana;
}

#whole {
	background-color: #e8ffb0;
	min-height: 1200px;
	width: 960px;
	margin: auto;
	overflow:hidden;
}

#logoContainer {
	width: 72%;
}

#headerLogo {
	width: 110px;
	margin-right: 80%;
}

#navBar {
	font-size: 1.5em;
}

#events {
	display: inline-block;
	background-color: #ffd9b3;
	width: 35%;
	min-height:100%;
	margin: 3% 5% 0% 5%;
	vertical-align: top;
	border: 5px solid #ffca95;
}

select {
	font-size: 1.3em;
}

input[type="text"] {
	font-size: 1.3em;
}

input[type="submit"] {
	font-size: 1.3em;
}

#campuses {
	display: inline-block;
	width: 50%;
	font-size: 1.2em;
}

.campusRow {
	background-color: #dadada;
	margin-top: 5%;
}

.campusLinkLeft {
	width: 73%;
	text-align: center;
	vertical-align: top;
	margin-top: 5%;
}

.campusLinkRight {
	width: 73%;
	text-align: center;
	vertical-align: top;
	margin-top: 5%;
}

.campusRowImg {
	width: 120px;
	margin-top: 5px;
}

#footer {
	width: 960px;
	padding: 5px 0px 5px 0px;
	margin: auto;
}


